.board {
    width: 600px;
    height: 600px;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(8, 75px);
    grid-template-rows: repeat(8, 75px);
    width: calc(8*75px);
}

.tile {}

.tile--light {
    background: #e1f6ff;
}

.tile--dark {
    background: #55ceff;
}